* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-display {
    display: flex;
    flex-direction: column;
    width: 438.66px;
    border-style: solid;
}

.display-number {
    height: 15px;
    font-size: 15px;
}

.display-result {
    height: 25px;
    font-size: 25px;
    align-self: flex-end;
}

.calculator-buttons {
    display: flex;
}

.columns {
    display: flex;
    flex-direction: column;
}

.columns button {
    padding: 30px;
    font-size: 30px;
}

#equal {
    flex: 1;
}