* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calculator {
    display: flex;
}

.columns {
    display: flex;
    flex-direction: column;
}

.columns button {
    padding: 30px;
    font-size: 30px;
}

#equal {
    flex: 1;
}