* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.calculator-display {
    display: flex;
    flex-direction: column;
    width: 438.66px;
    height: 70px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 0 5px;
}

.display-number {
    height: 20px;
    font-size: 20px;
}

.display-result {
    height: 40px;
    font-size: 40px;
    align-self: flex-end;
}

.calculator-buttons {
    display: flex;
}

.columns {
    display: flex;
    flex-direction: column;
}

.columns button {
    padding: 30px;
    font-size: 30px;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    margin: 1px;
}

.digits {
    background-color: rgb(255, 167, 4);
}

.symbols {
    background-color: rgb(199, 194, 194);
}

#equal {
    flex: 1;
    background-color: green;
    color: white;
}

#remove-button, #clear-button {
    background-color: rgb(148, 23, 23);
    color: white;
}